body {
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-family: "Liberation Sans";
  font-size: 1.2em
}

.logo {
  height: 5em;
  width: 5em;
}

main {
  flex: 1;
}

.title {
  margin-top: 0px
}

header {
  background-color: rgb(0, 0, 155);
  color: white;
  margin-top: 0px;
  padding: .2em;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  position: sticky;
  z-index: 999;
  box-shadow: 0 1px 10px 3px rgba(0,0,0,0.5);
  font-size: 1em;
}


h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  color: black;
}

footer {
  color: black;
  text-align: center;
}
